* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3f3f1;
}


.btn {
  padding: 10px 24px;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-family: sans-serif;
  background-color: #439cfb;
  cursor: pointer;
}

.btn:hover {
  background-color: #021f3e;
  color: aliceblue;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 215px;
  width: 285px;
  border: 1px solid #000;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ebf4f5;
  z-index: 12;
  visibility: hidden;
}



.popup .icon {
  width: 100%;
  height: 30%;
  border: none;
  border-radius: 12px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebf4f5;
}

.popup #delete {
  position: absolute;
  top: 0px;
  font-size: 25px;
  z-index: 1;
}

.popup .icon #checkbox {
  position: absolute;
  top: 8px;
  font-size: 38px;
  z-index: 2;
}

.popup p {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 28px;
}

.popup .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
}

.popup .bottom button {
  padding: 10px 15px;
  margin: 10px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background: #b5c6e0;
}

.bottom button:hover {
  background: #5d8cf1;
}


.firework {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  animation: explode 700ms ease-out forwards;
  pointer-events: none;
}

@keyframes explode {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(var(--x), var(--y));
    opacity: 0;
  }
}