* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f492f0;
}


.btn {
  padding: 10px 24px;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  font-family: sans-serif;
  background-color: #ffc8c8;
  cursor: pointer;
}

.btn:hover {
  background-color: #370136;
  color: aliceblue;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 215px;
  width: 285px;
  border: 1px solid #000;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f6d5f7;
  z-index: 2;
  visibility: hidden;
}


.popup .icon {
  width: 100%;
  height: 30%;
  border: none;
  border-radius: 12px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6d5f7;
}

.popup #heart {
  position: absolute;
  top: -25px;
  font-size: 25px;
  padding: 5px;
  border-radius: 50%;
  scale: 1.8;
  opacity: 1;
  z-index: 5;
}



.popup .icon #checkbox {
  position: absolute;
  top: 8px;
  font-size: 38px;
  z-index: 3;
  opacity: 0;
}

.popup p {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 28px;
}

.popup .bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
}

.popup .bottom button {
  padding: 10px 15px;
  margin: 10px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  background: #e9b7ce;
}

.bottom button:hover {
  background: #f187fb;
}

.heart {
  position: absolute;
  width: 14px;
  height: 14px;
  background: #cb27b2;
  transform: rotate(45deg);
  animation: explode 800ms ease-out forwards;
  pointer-events: none;
  z-index: 10;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: inherit;
  border-radius: 50%;
}

.heart::before {
  top: -7px;
  left: 0;
}

.heart::after {
  left: -7px;
  top: 0;
}

@keyframes explode {
  0% {
    transform: rotate(45deg) translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: rotate(45deg) translate(var(--x), var(--y));
    opacity: 0;
  }
}